<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <appSettings>
    <!-- LDAP Connection Settings -->
    <add key="DefaultLDAPPort" value="389" />
    <add key="DefaultLDAPSPort" value="636" />
    <add key="ConnectionTimeout" value="30000" />
    <add key="SearchTimeout" value="30000" />
    
    <!-- Application Settings -->
    <add key="MaxResultsPerPage" value="1000" />
    <add key="EnableLogging" value="true" />
    <add key="LogLevel" value="Info" />
    
    <!-- Security Settings -->
    <add key="RequireSSL" value="false" />
    <add key="EnablePasswordComplexityCheck" value="true" />
    <add key="MinPasswordLength" value="8" />
  </appSettings>
  
  <system.diagnostics>
    <sources>
      <source name="ADAUDIT" switchValue="Info">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="ADAUDIT.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration> 